@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
:root{
  --primary-color:#EC4899;
  --light-pink:#FCE7F3;
}
body{
  font-family: 'Stick No Bills', sans-serif;
}
.container{
  text-align: center;
  background-color: var(--light-pink);
 padding: left 1rem;
padding-right: 1rem;
 max-width: 600px;
 margin:auto;
  
}
.heading{
  text-align:center;
padding-top: 1rem;
  }
#check-button{
  border-color: var(--light-pink);
  font-weight: bold;
}
.change-table{
  text-align: center;
  margin:auto;
  border: var(--primary-color);

}
#error-message{
  padding-top: 2px;
  font-size: large;
  font-weight: bold;
}
.footer{
  background-color:var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}
.footer .link{
  color: white;
}
.footer ul{
  padding-inline-start: 0px;
}
.footer .footer-header{
  font-weight: bold;
  font-size: large;
}

.non-bullet-list{
  list-style:none;
}
.list-item-inline{
  display: inline;
  padding: 0rem .05rem;
}
.link
{
    text-decoration: none;
    padding: .5rem 1rem ;
}